<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kuwon.stugether.blog.repository.BlogReplyRepository">
  	<insert id="insertReply" parameterType="map">
  		INSERT INTO
  			`blog_reply`
  		(
  			`blogPostId`
  			, `userId`
  			, `content`
  		)
  		VALUE
  		(
  			#{postId}
  			, #{userId}
  			, #{content}
  		);
  	</insert>
  	
  	<select id="selectReplyByPostId" parameterType="int"
  	resultType="com.kuwon.stugether.blog.domain.BlogReply">
  		SELECT
  			`id`
  			, `blogPostId`
  			, `userId`
  			, `content`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`blog_reply`
  		WHERE
  			`blogPostId` = #{postId};
  	</select>
  	
  	<delete id="deleteReply" parameterType="map">
  		DELETE FROM
  			`blog_reply`
  		WHERE
  			`id` = #{replyId}
  		AND `userId` = #{userId};
  	</delete>
  	
  	<delete id="deleteReplyByPostId" parameterType="int">
  		DELETE FROM
  			`blog_reply`
  		WHERE
  			`blogPostId` = #{postId};
  	</delete>
  	<delete id="deleteReplyByUserId" parameterType="int">
  		DELETE FROM
  			`blog_reply`
  		WHERE
  			`userId` = #{userId};
  	</delete>
  </mapper>