<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kuwon.stugether.blog.repository.BlogRepository">
  	<select id="selectBlogCategoryList" parameterType="int"
  	resultType="com.kuwon.stugether.blog.domain.BlogCategory">
  		SELECT
  			`id`
  			, `userId`
  			, `name`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`blog_category`
  		WHERE
  			`userId` = #{userId};
  	</select>
  	<select id="selectBlogCategory" parameterType="map"
  	resultType="com.kuwon.stugether.blog.domain.BlogCategory">
  		SELECT
  			`id`
  			, `userId`
  			, `name`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`blog_category`
  		WHERE
  			`id` = #{categoryId}
  		AND `userId` = #{userId};
  	</select>
  	
  	<insert id="insertPost" parameterType="com.kuwon.stugether.blog.domain.BlogPost"
  	useGeneratedKeys="true" keyProperty="id">
  		INSERT INTO
  			`blog_post`
  		(
  			`userId`
  			, `blogCategoryId`
  			, `title`
  			, `content`
  			, `imagePath`
  		)
  		VALUE
  		(
  			#{post.userId}
  			, #{post.blogCategoryId}
  			, #{post.title}
  			, #{post.content}
  			, #{post.imagePath}
  		);
  		
  	</insert>
  	
  	<select id="selectAllBlogPost" parameterType="map"
  	resultType="com.kuwon.stugether.blog.domain.BlogPost">
  		SELECT
  			`id`
  			, `userId`
  			, `blogCategoryId`
  			, `title`
  			, `content`
  			, `imagePath`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`blog_post`
  		WHERE
  			`userId` = #{userId}
  		ORDER BY
  			`id` DESC
  		LIMIT 10 OFFSET #{page};
  	</select>
  	<select id="selectPostCountByCategory" parameterType="map"
  	resultType="int">
  		SELECT
  			count(*)
  		FROM
  			`blog_post`
  		WHERE
  			`userId` = #{userId}
  		AND `blogCategoryId` = #{categoryId};
  	</select>
  	<select id="selectBlogPostByCategoryId" parameterType="map"
  	resultType="com.kuwon.stugether.blog.domain.BlogPost">
  		SELECT
  			`id`
  			, `userId`
  			, `blogCategoryId`
  			, `title`
  			, `content`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`blog_post`
  		WHERE
  			`userId` = #{userId}
  		AND `blogCategoryId` = #{categoryId}
  		ORDER BY
  			`id` DESC
  		LIMIT 10 OFFSET #{page};
  	</select>
  	<select id="selectBlogPostById" parameterType="int"
  	resultType="com.kuwon.stugether.blog.domain.BlogPost">
  		SELECT
  			`id`
  			, `userId`
  			, `blogCategoryId`
  			, `title`
  			, `content`
  			, `imagePath`
  			, `createdAt`
  			, `updatedAt`
  		FROM
  			`blog_post`
  		WHERE
  			`id` = #{postId};
  	</select>
  	<insert id="insertCategory" parameterType="map">
  		INSERT INTO
  			`blog_category`
  		(
  			`userId`
  			, `name`
  		)
  		VALUE
  		(
  			#{userId}
  			, #{name}
  		)
  	</insert>
  	<select id="selectCategoryNameById" parameterType="int"
  	resultType="string">
  		SELECT
  			`name`
  		FROM
  			`blog_category`
  		WHERE
  			`id` = #{categoryId};
  	</select>
  	<delete id="deletePostById" parameterType="int">
  		DELETE FROM
  			`blog_post`
  		WHERE
  			`id` = #{postId};
  	</delete>
  </mapper>