<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kuwon.stugether.group.reply.repository.GroupReplyRepository">
	<insert id="insertReply" parameterType="map">
		INSERT INTO
			`group_reply`
		(
			`groupId`
			, `groupPostId`
			, `groupCategoryId`
			, `userId`
			, `content`
		)
		VALUE
		(
			#{groupId}
			, #{postId}
			, #{groupCategoryId}
			, #{userId}
			, #{content}
		);
	</insert>
	<select id="selectReplyList" parameterType="int"
	resultType="com.kuwon.stugether.group.reply.domain.GroupReply">
		SELECT
			`id`
			, `groupId`
			, `groupPostId`
			, `userId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`group_reply`
		WHERE
			`groupPostId` = #{postId};
	</select>
	<delete id="deleteReply" parameterType="map">
		DELETE FROM
			`group_reply`
		WHERE
			`id` = #{replyId}
			AND `userId` = #{userId};
	</delete>
	<delete id="deleteReplyByGroupPostId" parameterType="int">
		DELETE FROM
			`group_reply`
		WHERE
			`groupPostId` = #{postId};
	</delete>
	<delete id="deleteReplyByGroupCategoryId" parameterType="int">
		DELETE FROM
			`group_reply`
		WHERE
			`groupCategoryId` = #{groupCategoryId};
	</delete>
	<delete id="deleteReplyByUserIdAndGroupId" parameterType="map">
		DELETE FROM
			`group_reply`
		WHERE
			`groupId` = #{groupId}
			AND `userId` = #{userId};
	</delete>
</mapper>