<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kuwon.stugether.user.repository.UserRepository">
  	<select id="selectExistByLoginId" parameterType="string"
  	resultType="int">
  		SELECT EXISTS(
  			SELECT
  				`loginId`
  			FROM
  				`user`
  			WHERE
  				`loginId` = #{loginId}
  		);
  	</select>
	<select id="selectExistByNickname" parameterType="string"
	resultType="int">
		SELECT EXISTS(
			SELECT
				`nickname`
			FROM
				`user`
			WHERE
				`nickname` = #{nickname}
		);
	</select>
	<insert id="insertUser" parameterType="com.kuwon.stugether.user.domain.User"
	useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			`user`
		(
			`loginId`
			, `password`
			, `nickname`
			, `email`
		)
		VALUE
		(
			#{loginId}
			, #{password}
			, #{nickname}
			, #{email}
		);
	</insert>
	<select id="selectByLoginIdAndPassword" parameterType="map"
	resultType="com.kuwon.stugether.user.domain.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `nickname`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
		AND `password` = #{password};
	</select>
	<select id="selectById" parameterType="int"
	resultType="com.kuwon.stugether.user.domain.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `nickname`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{userId};
	</select>
	<select id="selectUserListByNickname" parameterType="string"
	resultType="com.kuwon.stugether.user.domain.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `nickname`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`nickname` LIKE CONCAT('%', #{search}, '%');
	</select>
	<select id="selectUserByNickName" parameterType="string"
	resultType="com.kuwon.stugether.user.domain.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `nickname`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`nickname` = #{nickname};
	</select>
</mapper>