<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="com.kuwon.stugether.problemBank.workbook.repository.WorkbookRepository">
	<select id="selectWorkbookListByPage" parameterType="map"
	resultType="com.kuwon.stugether.problemBank.workbook.domain.Workbook">
		SELECT
			`id`
			, `userId`
			, `title`
			, `createdAt`
			, `updatedAt`
		FROM 
			`workbook`
		WHERE
			`userId` = #{userId}
		ORDER BY
			`id` DESC
		LIMIT 10 OFFSET #{page};
	</select>
	<select id="selectProblemCountByWorkBookId" parameterType="int"
	resultType="int">
		SELECT
			count(*)
		FROM
			`workbook_problem_list`
		WHERE
			`workbookId` = #{workbookId};
	</select>

	<insert id="insertWorkbook"
	parameterType="com.kuwon.stugether.problemBank.workbook.domain.Workbook"
	useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			`workbook`
		(
			`userId`
			, `title`
		)
		VALUE
		(
			#{workbook.userId}
			, #{workbook.title}
		);
	</insert>
	<select id="selectWorkbook" parameterType="int"
	resultType="com.kuwon.stugether.problemBank.workbook.domain.Workbook">
		SELECT
			`id`
			, `userId`
			, `title`
			, `createdAt`
			, `updatedAt`
		FROM
			`workbook`
		WHERE
			`id` = #{workbookId};
	</select>

	<delete id="deleteWorkbook" parameterType="int">
		DELETE FROM
			`workbook`
		WHERE
			`id` = #{workbookId};
	</delete>
	<select id="selectWorkbookByTitle" parameterType="map"
	resultType="com.kuwon.stugether.problemBank.workbook.domain.Workbook">
		SELECT
			`id`
			, `userId`
			, `title`
			, `createdAt`
			, `updatedAt`
		FROM
			`workbook`
		WHERE
			`title` LIKE CONCAT('%', #{search}, '%')
		LIMIT 10 OFFSET #{page};
	</select>
	<select id="selectWorkbookByIdList" parameterType="map"
	resultType="com.kuwon.stugether.problemBank.workbook.domain.Workbook">
		SELECT
			`id`
			, `userId`
			, `title`
			, `createdAt`
			, `updatedAt`
		FROM
			`workbook`
		WHERE
			`userId` IN
				<foreach collection="userIdList" item="userId" open="(" close=")" separator=",">
					#{userId}
				</foreach>
		LIMIT 10 OFFSET #{page};
	</select>
</mapper>