<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kuwon.stugether.problemBank.workbook.repository.WorkbookFavoriteRepository">
  	<select id="selectWorkbookFavorite" parameterType="map"
  	resultType="int">
  		SELECT
  			count(*)
  		FROM
  			`workbook_favorite`
  		WHERE
  			`userId` = #{userId}
  		AND `workbookId` = #{workbookId};
  	</select>
  	<insert id="insertWorkbookFavorite" parameterType="map">
  		INSERT INTO
  			`workbook_favorite`
  		(
  			`userId`
  			, `workbookId`
  		)
  		VALUE
  		(
  			#{userId}
  			, #{workbookId}
  		);
  	</insert>
  	<delete id="deleteWorkbookFavorite" parameterType="map">
  		DELETE FROM
  			`workbook_favorite`
  		WHERE
  			`userId` = #{userId}
  		AND `workbookId` = #{workbookId};
  	</delete>
  	<delete id="deleteWorkbookFavoriteByWorkbookId" parameterType="int">
  		DELETE FROM
  			`workbook_favorite`
  		WHERE
  			`workbookId` = #{workbookId};
  	</delete>
  	<select id="selectWorkbookFavoriteByUserId" parameterType="Integer">
  		SELECT
  			`workbookId`
  		FROM
  			`workbook_favorite`
  		WHERE
  			`userId` = #{userId}
  		ORDER BY `id`
  		LIMIT 10 OFFSET #{page};
  	</select>
  	<select id="selectWorkbookFavoriteCountByUserId" parameterType="int"
  	resultType="int">
  		SELECT
  			count(*)
  		FROM
  			`workbook_favorite`
  		WHERE
  			`userId` = #{userId};
  	</select>
  	<delete id="deleteWorkbookFavoriteByUserId" parameterType="int">
  		DELETE FROM
  			`workbook_favorite`
  		WHERE
  			`userId` = #{userId};
  	</delete>
  </mapper>