<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kuwon.stugether.problemBank.workbook.repository.WorkbookScoreRepository">
	<select id="selectScore" parameterType="int"
	resultType="Integer">
		SELECT
			`score`
		FROM
			`workbook_score`
		WHERE
			`userId` = #{userId}
		AND `workbookId` = #{workbookId}
		ORDER BY `score` DESC LIMIT 1;
	</select>
	<insert id="insertScore" parameterType="com.kuwon.stugether.problemBank.workbook.domain.WorkbookScore"
	useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			`workbook_score`
		(
			`userId`
			, `workbookId`
			, `score`
			, `answer`
		)
		VALUE
		(
			#{workbookScore.userId}
			, #{workbookScore.workbookId}
			, #{workbookScore.score}
			, #{workbookScore.answer}
		)
	</insert>
	<select id="selectScoreById" parameterType="map"
	resultType="com.kuwon.stugether.problemBank.workbook.domain.WorkbookScore">
		SELECT
			`id`
			, `userId`
			, `workbookId`
			, `score`
			, `answer`
			, `createdAt`
			, `updatedAt`
		FROM
			`workbook_score`
		WHERE
			`userId` = #{userId}
		AND `id` = #{scoreId};
	</select>
	<select id="selectScoreListByPage" parameterType="map"
	resultType="com.kuwon.stugether.problemBank.workbook.domain.WorkbookScore">
		SELECT
			`id`
			, `userId`
			, `workbookId`
			, `score`
			, `answer`
			, `createdAt`
			, `updatedAt`
		FROM
			`workbook_score`
		WHERE
			`userId` = #{userId}
		ORDER BY `id` DESC
		LIMIT 10 OFFSET #{page};
	</select>
	<delete id="deleteScoreByWorkbookId" parameterType="int">
		DELETE FROM
			`workbook_score`
		WHERE
			`workbookId` = #{workbookId};
	</delete>
	<select id="selectScoreCountByUserId" parameterType="int"
	resultType="int">
		SELECT
			count(*)
		FROM
			`workbook_score`
		WHERE
			`userId` = #{userId};
	</select>
</mapper>