@charset "UTF-8";

#wrap{
	width: 1200px;
	min-height:800px;
	margin: 0 auto;
}

header{
	width: inherit;
	height: 100px;
}
nav{
	width: inherit;
	height: 50px;
}
.nav-link-style{
	color:#FFFFFF;
}

.sub-header{
	height: 100px;
}

.article{
	min-height: 600px;
	background-color: #FFFFFF;
	word-break:break-all;
}

aside{
	width: 200px;
}
.category-box{
	min-height: 300px;
}
.widget-box{
	width: 250px;
	min-height: 200px;
}

main{
	width: 700px;
	min-height: 500px;
	background-color: #DDDDDD;
}

.box-half{
	width: 600px;
	height: 800px;
	border: 1px;
	border-style: solid;
	border-color: #000000;
}

.single-input-row{
	display: flex;
	align-items: center;
	margin-top: 20px;
}

footer{
	width: inherit;
	height: 100px;
	background-color: #B5B5BB;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.note-editor .dropdown-toggle::after {
	display: none;
}

.reply-input{
	width:85%;
}
.reply-btn{
	width:15%;
}

.btn-mini{
	padding: 0px;
	padding-bottom: 17px;
	font-size:12px;
	width:18px;
	height:18px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 15px; }
#sortable li span { position: absolute; margin-left: -1.3em; }