@charset "UTF-8";

#wrap{
	width: 1200px;
	min-height:800px;
	margin: 0 auto;
}

.box-half{
	width: 600px;
	height: 800px;
	border: 1px;
	border-style: solid;
	border-color: #808080;
	border-radius: 10px;
}

.single-input-row{
	display: flex;
	align-items: center;
	margin-top: 20px;
}